<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transliteration App</title>
</head>
<body style="display: flex; align-content: center; padding: 100px">
    <h2> Enter Text </h2>
    <form method="POST">
        <textarea name="Textoo" style="font-size: medium;margin-top: 20px; margin-left: 5px; width: 500px; height: 500px"></textarea>
        <select name="langoo" style="font-size: large">
            <optgroup label = "Choose Destination Language ">
         <option value="ENGLISH"> English </option>
         <option value="MALAYALAM"> Malayalam </option>
         <option value="HINDI"> Hindi </option>
         <option value="TAMIL"> Tamil </option>
         <option value="TELUGU"> Telugu </option>
         <option value="SINHALESE"> Sinhalese </option>
         <option value="SANSKRIT"> Sanskrit </option>
         <option value="SERBIAN"> Serbian </option>
         <option value="MARATHI"> Marathi </option>
         <option value="NEPALI"> Nepali </option>
         <option value="RUSSIAN"> Russian </option>
         <option value="PUNJABI"> Punjabi </option>
         <option value="PERSIAN"> Persian </option>
         <option value="ORIYA"> Oriya </option>
         <option value="URDU"> Urdu </option>
         <option value="KANNADA"> Kannada </option>
         <option value="GUJARATI"> Gujarati </option>
         <option value="GREEK"> Greek </option>
         <option value="CHINESE"> Chinese </option>
         <option value="BENGALI"> Bengali </option>
         <option value="ARABIC"> Arabic </option>
         <option value="AMHARIC"> Amharic </option>
            </optgroup>
        </select>
        <select name="srcoo" style="font-size: large">
                <optgroup label = "Choose Source Language Script ">
         <option value="ENGLISH"> English Script Based ( eg: Tunglish , Manglish ) </option>
         <option value="AUTO"> Native Script Based ( eg: தமிழ் , )</option>
                </optgroup>
        </select>
        <input type="submit" style="font-size: large" value=" Transliterate ">
    </form>
</body>
</html>